<html>
    <head>
        <title>404 Error | Page Not Found</title>
        <meta name="author" content="blazeinferno64">
        <meta name="description" content="Free and open source public rest api made by BlazeInferno64">
        <meta name="theme-color" content="black">
        <meta name="keywords" content="BlazeInferno64, Github, blazed.js, Blaze Server, Blaze Rest Api Server , Blaze Servers">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="icon" href="https://avatars.githubusercontent.com/u/96913755?v=4" type="image/x-icon"/>
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-danger">404 Error</h1>
            <p class="lead">The requested URL '<%= url %>' with '<%= method %>' HTTP request was not found in the server!</p>
            <p class="text-muted">Please check the URL and try again.</p>
            <p class="text-muted">If you believe there's an error please report it!</p>
            <div class="d-flex justify-content-start ml-0">
                <a href="/"><button class="btn btn-primary mr-2"><i class="fa-solid fa-home"></i> Go to Home</button></a>
                <a href="https://github.com/blazeinferno64/Blaze-Server" target="_blank">
                    <button class="btn btn-secondary">
                        <i class="fab fa-github"></i> Star this project
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>
